

@{

    Layout = "~/Views/Shared/ContentPage.cshtml";
}
<section class="kc-elm kc-css-415113 kc_row">
    <div class="kc-row-container  kc-container">
        <div class="kc-wrap-columns">
            <div class="kc-elm kc-css-678992 kc_col-sm-12 kc_column kc_col-sm-12">
                <div class="kc-col-container">
                    <div class="kc-elm kc-css-367109 kc_text_block">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Institution Login</h3>
                            </div>
                            <div class="panel-body">
                                <form class="icon">

                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-envelope">&nbsp;</i></div>
                                            <p><input class="form-control" type="email" placeholder="Enter email"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-key">&nbsp;</i></div>
                                            <p><input class="form-control" type="password" placeholder="Enter Password"></p>
                                        </div>
                                    </div>
                                    <p><button class="hidden-xs hidden-sm btn btn-default" type="submit"> <i class="fa fa-send">&nbsp;</i>Login</button></p>
                                </form>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
